/* Grundlegende Layout-Einstellungen */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .banner {
    width: 100%;
    height: 30px;
    background-color: green;
  }

  .button-wrapper {
    width: 100%;
    height: 50px;
    background-color: red;
    display:flex;
    align-items: center;
    justify-content: right;
    padding-right: 20%;
    gap:20px;
  }

  .text-wrapper {
    width: 100%;
    height: 400px;
    background-color: blue;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:20px;
  }

  textarea {
    width: 40%;
    height: 95%;
    font-size: 16px;
    padding: 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }

  table {
    border-collapse: collapse; /* Entfernt doppelte Rahmen */
    width: 50%; /* Verhindert, dass die Tabelle den Rand überschreitet */
  }
  
  td {
    border: 1px solid #ccc; /* Rahmen für die Zellen */
    padding: 10px; /* Innenabstand innerhalb der Zellen */
    text-align: left; /* Linksbündiger Text */
  }
  
  tr:nth-child(even) {
    background-color: white; /* Abwechselnde Zeilenfarbe */
  }